.wrapper {
  height: 100%;
  overflow-y: hidden;
  background: linen;
  //font-family: system-ui, sans-serif !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  #upper-row{
    input{width: 80%;}
    margin: auto;
  }
  .websites{
    text-wrap: normal;
    overflow-wrap: break-word;
    //overflow-x: hidden;
    .website{
      padding-left: 1em;
    }
  }

  #body-row {
    height: 90vh;
    border: 1px solid lightgray;

    .column{
      border-right: 1px solid lightgray;
    }

    //why em/current-marked not worked in reader.scss?
    em{background: yellow;}
    .current-marked{
      //text-decoration: underline;
      font-size: 1.2em;
      font-weight: bold;
      font-style: normal;
      background-color: tomato;
    }

    > div {
      //border: 1px solid black;
      overflow-x: hidden;
      height: 100%;
    }

    .articles {
      height: 100%;
      overflow-y: scroll;
      //border-right: 1px solid lightgray;

      .article {
        padding: .2em;
        border-bottom: 1px solid lightgray;
        margin-right: 0.2em;
        &.active{
          background: firebrick;
          color: wheat;
          .date {
            color: lightgray;
          }
          .word_count{
            background: lightpink;
            border-radius: .5em;
            padding: 0 .2em;
          }
        }
        .title{
          //font-size: 15px;
          font-family: system-ui, sans-serif !important;
          font-weight: 500;
        }
        .date {
          font-size: .8em;
          color: gray;
          //display: block;
        }
        .word_count{
          font-size: .8em;
          color: darkred;
        }
        .highlight{
          font-size: .9em;
          background: yellow;
          display: block;
        }
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
    .loading{
      text-align: center;
      margin-top: 40%;
    }
  }

  #article-save-btn{
    position: fixed;
    right: 30vw;
    bottom: 5em;
  }

  #article-del-btn1{
    position: absolute;
    top: 3em;
    right: .5em;
  }
}
