#reader-panel{
  //position: absolute;
  overflow-y: hidden;
  //border: 1px solid red;
  &.essay-view{}
  &.article-view{
    #article-title{background-color: lightgoldenrodyellow}
  }
  #article-title{
    //height: 10%;
    //overflow-y: scroll;
    font-size: 1.5em;
    font-family: system-ui, sans-serif;
    font-weight: 500;
  }
  #article-content{
    font-size: 1.2em;
    img{max-width: 100%;}
    em{background: yellow;}
    //padding-bottom: 7em;
    height: 80%;
    overflow-y: scroll;
    //border: 2px solid red;

    .current-marked{
      //text-decoration: underline;
      font-size: 1.2em;
      font-weight: bold;
      font-style: normal;
      background-color: tomato;
    }
  }
  //}
  #article-words {
    //height: 10%;
    //overflow-y: scroll;
    width: 48%;
    //padding: 0.2em;
    position: fixed;
    bottom: 0;

    font-size: 1.1em;

    #toggle{
      //position: absolute;
      //top: 0em;
      //right: 0;
      background: lightgoldenrodyellow;
      border-radius: 0;
      box-shadow: none;
      float: right;
    }
    #article-words-content{
      height: 100%;
      overflow-y: scroll;
      //border: 2px solid red;
      background: lightgoldenrodyellow;
    }
  }
}
