//
//ul.word-list {height1: 80vh; width: 100%; list-style: none;}
//#content1{height: 80vh; margin-top: 6vh;padding: 0.5em;}
//#definition, .examples{overflow-y: scroll; padding: .5em; border-style: ridge; border-width: 0.3em; border-radius: 0.5em; background1: lightyellow;}
//#definition{max-height: 30vh;}
//.examples {max-height: 50vh; font-size: 1.2em;}
//#all div:nth-child(n+11) {display: none;}
//span.delete{text-decoration: line-through;}
//
//span.phonetic {padding-right: 1em;}
//span.partOfSpeech {color: darkred;}
//.synonyms {color: darkcyan;}
//.reference{text-align: right;font-size:.8em; font-style: italic;}
//.example {font-style: italic;text-decoration: underline;}
//

//.examples .play-btn{margin-top: 5px;margin-right: 5px;}

.container-fluid{
  font-size: 1.2em;
  #left-column{
    height: 80vh;overflow-y: scroll;
    ul.word-list{
      span.current{background: #4cae4c; color: whitesmoke;}
    }
  }

  //.play-btn{
  //  width: 1.2em;
  //  height: 1.2em;
  //  float: left;
  //  margin-top: .1em;
  //  margin-right: .2em;
  //}
}

